@using AnteyaVIP.Web.Areas.Administration.ViewModels.Manufacturers;
@{
    const string ControllerName = "Manufacturers";
    ViewBag.Title = ControllerName;
}

<h2>@ViewBag.Title</h2>
@(Html.FullFeaturedGrid<ManufacturerViewModel>(m => m.Name, ControllerName))

