/*.demo-section {
        padding: 30px;
        width: 577px;
    }

    #listView {
        padding: 10px;
        margin-bottom: -1px;
        width: 727px;
        height: 170px;
        border:none;
    }

    .product {
        float: left;
        position: relative;
        width: 180px;
        height: 200px;
        margin: 0;
        padding: 0;
        line-height: 3px;
    }

        .product img {
            width: 100%;
            height: 100%;
        }

        .product h3 {
            text-align:center;
            margin: 0;
            padding: 3px 5px 0 0;
            max-width: 100%;
            overflow: hidden;
            line-height: 1.1em;
            font-size: .9em;
            font-weight: normal;
            text-transform: uppercase;
            color: #999;
        }

        .product p, .product-order-btn {
            visibility: hidden;
        }

        .product:hover p {
            visibility: visible;
            position: absolute;
            width: 180px;
            height: 70%;
            top: 0;
            margin: 0;
            padding: 0;
            line-height: 80px;
            vertical-align: middle;
            text-align: center;
            color: #fff;
            background-color: rgba(0,0,0,0.75);
            transition: background .2s linear, color .2s linear;
            -moz-transition: background .2s linear, color .2s linear;
            -webkit-transition: background .2s linear, color .2s linear;
            -o-transition: background .2s linear, color .2s linear;
        }

        .product .product-order-btn {
            display: block;
            text-decoration: none;
        }

        .product:hover .product-order-btn {
            visibility: visible;
            position: absolute;
            width: 180px;
            height: 31%;
            top: 0;
            margin-top: 140px;
            padding: 0;
            line-height: 50px;
            vertical-align: middle;
            text-align: center;
            color: #fff;
            background-color: rgba(0,153,0,0.75);
            transition: background .2s linear, color .2s linear;
            -moz-transition: background .2s linear, color .2s linear;
            -webkit-transition: background .2s linear, color .2s linear;
            -o-transition: background .2s linear, color .2s linear;
        }

    .product-order-btn:hover {
        width: 132px;
        height: 32%;
        background-color: rgba(0, 100, 0, 0.75);
        transition: background .2s linear, color .2s linear;
        -moz-transition: background .2s linear, color .2s linear;
        -webkit-transition: background .2s linear, color .2s linear;
        -o-transition: background .2s linear, color .2s linear;
    }

    .k-listview:after, .product dl:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }*/
#listView {
    min-height: 550px;
    width: 660px;
    margin: 0 auto;
}

.product {
    float: left;
    position: relative;
    width: 180px;
    height: 200px;
    padding: 0;
}


.product-description {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8)
}
.btn-success{
    border-radius:0;
}
.product img {
    width: 100%;
    height: 100%;
}


.product h3 {
    margin: 0;
    padding: 10px 10px 0 10px;
    line-height: 1.1em;
    font-size: .9em;
    font-weight: normal;
    text-transform: uppercase;
    color: #ffffff;
    word-wrap: break-word;
}
.product p {
    color: #ffffff;
    font-weight: bold;
    padding: 0 10px;
}

  #panel {
        border: 1px solid #e9e9e9;
        border-top: 3px solid #da2d7d;
        position: relative;
        width: 473px;
        margin: 0 auto;
        -webkit-box-shadow: 0 0 4px rgba(0,0,0,.25);
        -moz-box-shadow: 0 0 4px rgba(0,0,0,.25);
        -o-box-shadow: 0 0 4px rgba(0,0,0,.25);
        box-shadow: 0 0 4px rgba(0,0,0,.25);
        padding: 35px;
        background-color: #ffffff;
    }

        #panel > h2 {
            color: #4f4f4f;
            font-size: 18px;
            font-weight: normal;
            width: 370px;
            border-bottom: 1px solid #dfdfdf;
            padding-bottom: 9px;
        }

    #lightbox {
        position: absolute;
        width: 69px;
        padding-top: 69px;
        top: 0;
        right: 34px;
        background: #da2d7d url(../../Content/web/fx/Cart.png) no-repeat 50% 23px;
        overflow: hidden;
        font-size: 9px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
    }

    #container {
        height: 69px;
        width: 69px;
        top: 0;
        position: absolute;
    }

        .product:nth-child(4n) {
            margin: 0 0 11px 0;
        }
