body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.administration-dropdown {
}

.field-validation-error {
    color: red;
}

#Description {
    height: 200px;
}

#characteristics-header {
    word-spacing: 90px;
}

.display-inline {
    display: inline-block;
}

.admin-picture {
    width: 100px;
}

.orderstatus_1 {
    background-color: yellow;
}

.orderstatus_2 {
    background-color: yellowgreen;
}

.orderstatus_3 {
    background-color: red;
}

.orderstatus_4 {
    background-color: lightblue;
}
